@media (min-width: 1500px) {
    .ibi {
        margin-left: 57px;
    }
}

@media screen and (max-width: 989px) and (min-width: 768px) {
    .ibi {
        margin-left: 0 !important;
    }

    header nav {
        padding-left: 120px !important;
    }

    header .headerNav .header-right-ul .header-none {
        display: none;
    }

    header nav .header-center .header-add-btn button {
        width: 235px;
        font-size: 18px;
        margin-left: 40px;
    }

    header nav .header-center .header-number h4 {
        font-size: 18px;
        width: 154px;
        margin-left: 84px;
    }

    header nav .header-left .dropdown {
        margin-left: 47px !important;
    }

    .ibi .section-header-text .left-text-section {
        margin-right: 204px;
    }

    .ibi .section-header-text .left-text-section .left-info-section,
    .ibi .section-header-text .right-text-section .right-mail-section,
    .ibi .section-adress-text .section-adress-info .section-adress-infoo,
    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
        font-size: 18px;
    }

    .ibi .section-header-text .left-text-section .left-number-section,
    .ibi .section-header-text .right-text-section .right-emmail-section,
    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        font-size: 36px !important;
    }

    .section-big-class {
        width: 940px;
    }

    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
        width: 284px !important;
        left: 50% !important;
    }

    .ibi .application .application-info .application-text {
        margin-top: 200px !important;
        width: 940px !important;
        font-size: 65px;
    }

    .ibi .application .application-info .application-paragraf {
        margin-bottom: 40px !important;
        width: 940px;
        font-size: 23px;
    }

    .necessary .necessary-info .necessary-text, .resurs .resurs-info .resurs-text {
        font-size: 36px !important;
        margin-bottom: 20px !important;
    }

    .necessary .necessary-info .necessary-buttons {
        width: 885px !important;
    }

    .resurs .resurs-info .resurs-buttons {
        width: 954px !important
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {}

@media screen and (max-width: 319px) {}