@media (max-width: 1500px) {
    .ibi {
        margin-left: 57px;
    }
}

/* -------------------------loptop---------------------------- */

@media screen and (max-width: 989px) and (min-width: 768px) {
    .ibi {
        margin-left: 200px !important;
    }

    .ibi .section-header-text .left-text-section {
        margin-right: 204px;
    }

    header nav .header-left .dropdown .dropdown-item .dropdown-item-a {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #2D3845;
    }

    .ibi {
        margin-left: 0;
    }

    header nav .header-right-ul ul {
        display: none;
        padding-top: 20px;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header nav .header-right-ul .header-right-bars button {
        width: 0;
    }

    .ibi .section-header-text .left-text-section .left-info-section {
        font-size: 18px;
        width: 234px;
    }

    .ibi .section-header-text .left-text-section .left-number-section {
        font-size: 36px;
        width: 276px;
    }

    .ibi .section-header-text .right-text-section .right-mail-section {
        font-size: 18px;
    }

    .ibi .section-header-text .right-text-section .right-emmail-section {
        font-size: 36px;
        width: 324px;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-infoo {
        font-size: 18px;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        font-size: 36px;
    }

    .ibi .application .application-info .application-text {
        font-size: 65px;
    }

    .ibi .application .application-info .application-paragraf {
        font-size: 23px;
    }

    .ibi .application .application-social ul li .application-phone {
        font-size: 18px;
    }
    
}

/* -------------------------tablet---------------------------- */

@media screen and (max-width: 767px) and (min-width: 320px) {
    header nav .header-center .header-number h4 {
        width: 271px;
        padding-top: 20px;
        margin-left: 854px;
    }

    .col-md-none {
        display: none !important;
    }

    header nav .header-center .header-number h4 {
        width: 200px;
        padding-top: 20px;
        margin-left: 1200px;
    }

    .ibi .section-header-text .left-text-section .left-info-section {
        font-size: 18px;
        width: 234px;
    }

    .ibi .section-header-text .left-text-section .left-number-section {
        font-size: 30px;
        width: 230px;
    }

    .ibi .section-header-text .right-text-section .right-mail-section {
        font-size: 18px;
        width: 53px;
    }

    .ibi .section-header-text .right-text-section .right-emmail-section {
        width: 270px;
        font-size: 30px;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-infoo {
        width: 54px;
        font-size: 18px;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        font-size: 30px;
        width: 414px;
    }

    .ibi .application .application-info .application-text {
        margin-top: 100px;
        width: 710px;
        font-size: 54px;
    }

    .ibi .application .application-info .application-paragraf {
        font-size: 20px;
        width: 710px;
    }

    .ibi .application .application-social ul li .application-phone {
        width: 155px;
    }

    .necessary {
        margin-top: 68px;
    }

    .necessary .necessary-info .necessary-text {
        width: 244px;
        font-size: 30px;
    }

    .necessary .necessary-info .necessary-buttons .necessary-button,
    .resurs .resurs-info .resurs-buttons .resurs-button,
    .budget .budget-info .budget-buttons .budget-button,
    .data .data-info .data-buttons .data-button {
        font-size: 16px;
    }

    .necessary .necessary-info .necessary-buttons,
    .resurs .resurs-info .resurs-buttons {
        width: 700px;
    }

    .necessary .necessary-info .necessary-input input,
    .resurs .resurs-info .resurs-input input {
        width: 750px;
    }

    .resurs .resurs-info .resurs-text {
        width: 270px;
        font-size: 30px;
    }

    .necessary .necessary-info .necessary-input input,
    .resurs .resurs-info .resurs-input input {
        margin-bottom: 60px;
    }

    .budget .budget-info .budget-text {
        width: 325px;
        font-size: 30px;
    }

    .budget .budget-info .budget-buttons {
        width: 720px;
    }

    .contacts .contact-info .contact-text {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .contacts .contact-info .contact-inputs input {
        width: 710px;
    }

    .contacts .contact-info .contact-inputs input:last-child {
        width: 710px;
    }

    .data .data-info .data-text {
        width: 525px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .data .data-info .data-buttons {
        width: 700px;
    }

    .data .data-info .data-paragraf {
        width: 710px;
        font-size: 16px;
    }

    .data .data-info .data-paragraf {
        margin-bottom: 60px;
    }

    .ibi .send {
        width: 700px;
    }
}

/* -------------------------phone---------------------------- */

@media screen and (max-width: 319px) {
    .container {
        max-width: 992px;
    }

    .col-xs-none {
        display: none !important;
    }

    .ibi .section-header-text {
        display: block;
    }

    .ibi .section-header-text .left-text-section .left-info-section {
        width: 208px;
        font-size: 16px;
    }

    .ibi .section-header-text .left-text-section .left-info-section {
        margin-bottom: 10px;
    }

    .ibi .section-header-text .left-text-section .left-number-section {
        font-size: 24px;
    }

    .ibi .section-header-text .right-text-section .right-mail-section {
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .ibi .section-header-text .right-text-section .right-emmail-section {
        font-size: 24px;
        width: 216px;
    }

    .ibi .section-adress-text .section-adress-info {
        margin-top: 20px;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        width: 290px;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
        display: none;
    }

    .section-big-maps-logo {
        display: block !important;
    }

    .map {
        height: 290px !important;
        width: 250px !important;
    }

    .ibi .application .application-info .application-text {
        width: 290px;
        font-size: 36px;
    }

    .ibi .application .application-info .application-paragraf {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 290px;
        font-size: 18px;
    }

    .ibi .application .application-social ul {
        width: 212px;
        flex-wrap: wrap;
    }

    .ibi .application .application-social ul li .application-phone {
        margin-left: 0;
        margin-top: 20px;
        font-size: 16px;
        width: 123px;
    }

    .necessary {
        margin-top: 60px;
    }

    .necessary .necessary-info .necessary-text {
        width: 195px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .necessary .necessary-info .necessary-buttons .necessary-button,
    .resurs .resurs-info .resurs-buttons .resurs-button,
    .budget .budget-info .budget-buttons .budget-button,
    .data .data-info .data-buttons .data-button {
        padding: 14px;
        font-size: 16px;
        width: 202px;
    }

    .necessary .necessary-info .necessary-buttons,
    .resurs .resurs-info .resurs-buttons {
        width: 4000px;
    }

    .necessary .necessary-info .necessary-input input,
    .resurs .resurs-info .resurs-input input {
        width: 290px;
        font-size: 16px;
    }

    .resurs .resurs-info .resurs-text {
        font-size: 24px;
        width: 216px;
    }

    .necessary .necessary-info .necessary-input input,
    .resurs .resurs-info .resurs-input input {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .budget .budget-info .budget-text {
        font-size: 24px;
        width: 260px;
    }

    .budget .budget-info .budget-buttons {
        display: flex;
    }

    .budget .budget-info .budget-buttons .budget-button {
        width: 112px;
        font-size: 16px;
    }

    .budget .budget-info {
        width: 2000px;
    }

    .contacts .contact-info .contact-text {
        margin-top: 60px;
        width: 110px;
        font-size: 24px;
    }

    .contacts .contact-info .contact-inputs input {
        width: 290px;
    }

    .contacts .contact-info .contact-inputs input:last-child {
        width: 290px;
        margin-bottom: 60px;
    }

    .data .data-info .data-text {
        width: 290px;
        font-size: 24px;
    }

    .data .data-info .data-buttons {
        display: flex;
        width: 2000px;
    }

    .data .data-info .data-paragraf {
        font-size: 16px;
        width: 290px;
    }

    .send {
        display: block;
    }

    .send p {
        width: 290px;
        margin-left: 0;
    }
}
