@media (min-width: 1500px) {
    .ibi {
        margin-left: 57px;
    }
}

@media screen and (max-width: 989px) and (min-width: 768px) {
    .ibi {
        margin-left: 0 !important;
    }

    header nav {
        padding-left: 120px !important;
    }

    header .headerNav .header-right-ul .header-none {
        display: none !important;
    }

    header nav .header-center .header-add-btn button {
        width: 235px !important;
        font-size: 18px !important;
        margin-left: 40px !important;
    }

    header nav .header-center .header-number h4 {
        font-size: 18px !important;
        width: 154px !important;
        margin-left: 84px !important;
    }

    header nav .header-left .dropdown {
        margin-left: 47px !important;
    }

    .ibi .section-header-text .left-text-section {
        margin-right: 204px !important;
    }

    .ibi .section-header-text .left-text-section .left-info-section,
    .ibi .section-header-text .right-text-section .right-mail-section,
    .ibi .section-adress-text .section-adress-info .section-adress-infoo,
    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
        font-size: 18px !important;
    }

    .ibi .section-header-text .left-text-section .left-number-section,
    .ibi .section-header-text .right-text-section .right-emmail-section,
    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        font-size: 36px !important;
    }

    .section-big-class {
        width: 940px !important;
    }

    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
        width: 284px !important;
        left: 50% !important;
    }

    .section-big-maps-logo {
        left: 50% !important;
    }

    .ibi .application .application-info .application-text {
        margin-top: 200px !important;
        width: 940px !important;
        font-size: 65px !important;
    }

    .ibi .application .application-info .application-paragraf {
        margin-bottom: 40px !important;
        width: 940px !important;
        font-size: 23px !important;
    }

    .necessary .necessary-info .necessary-text, .resurs .resurs-info .resurs-text,
    .budget .budget-info .budget-text,
    .contacts .contact-info .contact-text,
    .data .data-info .data-text {
        font-size: 36px !important;
        margin-bottom: 20px !important;
    }

    .necessary .necessary-info .necessary-buttons {
        width: 885px !important;
    }

    .resurs .resurs-info .resurs-buttons {
        width: 954px !important
    }

    .contacts .contact-info .contact-inputs input {
        width: 940px !important;
        font-size: 18px !important;
    }

    .data .data-info .data-paragraf {
        font-size: 18px !important;
        margin-bottom: 105px !important;
        width: 940px !important;
    }

    footer {
        width: 1180px !important;
    }

    footer .footerTitle {
        font-size: 65px !important;
    }

    footer button p,
    footer .footerCard .footerContact .footerPhone {
        font-size: 36px !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .sm-none {
        display: none !important;
    }

    .container {
        max-width: none !important;
    }

    .ibi {
        margin-left: 59px !important;
    }

    .ibi .section-header-text .left-text-section .left-info-section,
    .ibi .section-header-text .right-text-section .right-mail-section,
    .ibi .section-adress-text .section-adress-info .section-adress-infoo {
        font-size: 18px !important;
    }

    .ibi .section-header-text .left-text-section .left-number-section,
    .ibi .section-header-text .right-text-section .right-emmail-section,
    .necessary .necessary-info .necessary-text,
    .resurs .resurs-info .resurs-text,
    .budget .budget-info .budget-text,
    .contacts .contact-info .contact-text, .data .data-info .data-text {

        font-size: 30px !important;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        margin-bottom: 60px !important;
        font-size: 30px !important;
    }

    .ibi .application .application-info .application-text {
        margin-top: 100px !important;
        font-size: 54px !important;
    }

    .ibi .section-header-text .left-text-section {
        margin-right: 0 !important;
    }

    .section-big-class {
        width: 710px !important;
    }

    .ibi .application .application-info .application-paragraf {
        font-size: 20px !important;
        margin-bottom: 40px !important;
    }

    .necessary,
    .contacts .contact-info .contact-text {
        margin-top: 60px !important;
    }

    .necessary .necessary-info .necessary-buttons {
        width: 778px !important;
    }

    .necessary .necessary-info .necessary-buttons .necessary-button, .resurs .resurs-info .resurs-buttons .resurs-button, .budget .budget-info .budget-buttons .budget-button, .data .data-info .data-buttons .data-button {
        font-size: 16px !important;
    }

    .resurs .resurs-info .resurs-buttons {
        width: 873px !important;
    }

    .necessary .necessary-info .necessary-input input, .resurs .resurs-info .resurs-input input,
    .contacts .contact-info .contact-inputs input {
        width: 710px !important;
    }

    .contacts .contact-info .contact-inputs input:last-child {
        margin-bottom: 60px !important;
    }

    .data .data-info .data-paragraf {
        width: 710px !important;
        font-size: 16px !important;
    }

}

@media screen and (max-width: 319px) {}