    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: Nunito Sans;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Nunito Sans", sans-serif;
        list-style: none;
        text-decoration: none;
    }


    /* header start */

    header {
        max-width: 1920px;
        position: relative;
        background-color: #fff;
        margin: auto;
        height: 3vh;
    }

    .headerNav {
        position: absolute;
    }

    header nav {
        max-width: 1920px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-top: 45px;
        margin: auto;
        position: relative;
        z-index: 5;
    }

    header nav .header-left {
        width: 360px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav .header-left .dropdown {
        position: relative;
    }

    header nav .header-left .dropdown a {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #000000;
        display: flex;
        align-items: center;
    }

    header nav .header-left .dropdown a .fas {
        font-size: 15px;
        margin-left: 10px;
    }

    header nav .header-left .dropdown .dropdown-item {
        box-sizing: content-box;
        position: absolute;
        width: 200px;
        top: -60px;
        left: -60px;
        background-color: rgb(255, 255, 255);
        padding: 60px 30px 40px 60px;
        border-radius: 12px;
        display: none;
    }

    header nav .header-left .dropdown .dropdown-item .dropdown-item-a {
        padding: 15px 0;
    }

    header nav .header-left .dropdown .dropdown-item .dropdown-item-a-first {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header nav .header-left .dropdown .dropdown-item .dropdown-item-a-first {
        padding-bottom: 15px;
    }

    header nav .header-center {
        width: 497px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header nav .header-center .header-number h4 {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #379bad;
    }

    header nav .header-center .header-add-btn button {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: none;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    header nav .header-center .header-add-btn button i {
        margin-left: 20px;
    }

    header nav .header-right-ul {
        width: 600px;
    }

    header nav .header-right-ul ul {
        display: flex;
    }

    header nav .header-right-ul ul li {
        padding: 0 30px;
    }

    header nav .header-right-ul ul li a {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #8b95a0;
        transition: all 0.3s;
    }

    header nav .dropdown-item-ul ul li a:hover {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header nav .header-right-ul .header-right-bars button {
        position: fixed;
        top: 45px;
        right: 45px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 20px;
        background: #ffffff;
        border-radius: 12px;
        z-index: 20;
    }

    header nav .header-right-ul .hover-ul {
        position: relative;
    }

    header nav .dropdown-item-ul {
        width: 400px;
        position: absolute;
        top: -75px;
        left: -30px;
        padding: 60px;
        display: none;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 1px 0px rgb(150, 150, 150);
        opacity: 0;
        transition: opacity 0.5s;
    }

    header nav .dropdown-item-ul ul {
        display: block;
    }

    header nav .dropdown-item-ul ul li a {
        padding: 15px 0;
    }

    header nav .dropdown-item-ul ul li {
        padding: 15px 0;
    }

    header .header-top {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: -130vh;
        left: 0;
        background-color: #0f0e10;
        transition: 1s;
        z-index: 20;
    }

    header .header-top .exit {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 17px 23px;
        border: 2px solid #2d3845;
        box-sizing: border-box;
        border-radius: 12px;
        cursor: pointer;
    }

    header .header-top .header-top-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 42px 50px;
    }

    header .header-top .header-top-left .exit i {
        font-size: 20px;
        color: white;
    }

    header .header-top .header-top-center-top-ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 1300px;
        margin: auto;
    }

    header .header-top .header-top-center-top-ul li {
        padding-right: 70px;
        padding-top: 105px;
    }

    header .header-top .header-top-center-top-ul li a {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 120%;
        color: #ffffff;
    }

    header .header-top .header-top-center-top-ul li a:hover {
        color: #8b95a0;
        transition: 0.3s;
    }

    header .header-top .header-top-center-bottom-ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 1300px;
        margin: auto;
        padding-top: 40px;
    }

    header .header-top .header-top-center-bottom-ul li {
        padding-right: 40px;
    }

    header .header-top .header-top-center-bottom-ul li a {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        color: #ffffff;
    }

    header .header-top .header-top-center-bottom-ul li a:hover {
        color: #8b95a0;
        transition: 0.3s;
    }

    header .header-top .header-top-bottom .header-add-btn {
        display: flex;
        align-items: center;
        width: auto;
        display: none;
    }

    header .header-top .header-top-bottom .header-add-btn button {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 27px;
        width: 171px;
        border: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        margin-right: 20px;
        cursor: pointer;
    }

    header .header-top .header-top-bottom .header-add-btn span .fas {
        padding: 15px;
        border-radius: 12px;
        color: white !important;
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        cursor: pointer;
    }

    header .header-top .header-top-bottom .connections {
        display: flex;
        align-items: center;
        padding-top: 60px;
        flex-wrap: wrap;
        display: none;
    }

    header .header-top .header-top-bottom .connections p {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #8b95a0;
        padding-right: 10px;
    }

    header .header-top .header-top-bottom .connections ul {
        display: flex;
        align-items: center;
    }

    header .header-top .header-top-bottom .connections ul li {
        padding: 0 10px;
    }

    header .header-top .header-top-bottom .connections ul li a {
        color: #8b95a0;
        padding: 12px 14px;
        background: #2d3845;
        border-radius: 12px;
    }

    header .header-top .header-top-bottom .connections ul li a:hover {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        border-radius: 12px;
        color: white;
        transition: 0.3s;
    }

    header .header .header-bg {
        position: absolute;
        top: 30%;
        left: 15%;
        background: #20b3a6;
        opacity: 0.1;
        filter: blur(100px);
        width: 700px;
        height: 700px;
        z-index: 1;
    }

    header .header .header-title {
        max-width: 1250px;
        margin: auto;
        padding-top: 305px;
        position: relative;
        z-index: 4;
    }

    header .header .header-title h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 102px;
        line-height: 120%;
        color: #2d3845;
    }

    header .header .header-title h2 {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
        font-weight: 600;
        font-size: 102px;
        line-height: 120%;
    }


    /* header end */


    /* section start */

    .button-active {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%) !important;
        color: white !important;
    }

    .d-n {
        display: none;
    }

    .ibi {
        max-width: 1250px;
        margin: auto;
        margin-top: 215px;
    }

    .ibi .section-header-text {
        display: flex;
    }

    .ibi .section-adress-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ibi .section-header-text .left-text-section,
    .ibi .section-header-text .right-text-section {

        width: 50%;
    }

    .ibi .section-header-text .left-text-section .left-info-section {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #8b95a0;
        margin-bottom: 30px;
    }

    .ibi .section-header-text .left-text-section .left-number-section {
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2d3845;
        width: 383px;
    }

    .ibi .section-header-text .right-text-section .right-mail-section {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #8b95a0;
        margin-bottom: 30px;
    }

    .ibi .section-header-text .right-text-section .right-emmail-section {
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2d3845;
        width: 450px;
    }

    .ibi .section-adress-text .section-adress-info {
        margin-top: 100px;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-infoo {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #8b95a0;
    }

    .ibi .section-adress-text .section-adress-info .section-adress-paragraf {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2d3845;
        margin-bottom: 100px;
    }

    .ibi .section-adress-text .section-big-map {
        position: relative;
    }

    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons {
        background: #ffffff;
        position: absolute;
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        width: 295px;
        height: 84px;
        border: none;
        cursor: pointer;
        top: 35%;
        left: 35%;
    }

    .ibi .section-adress-text .section-big-map .section-big-maps-button .section-big-maps-buttons span img {
        padding-left: 20px;
    }

    .ibi .application .application-info .application-text {
        font-weight: 600;
        font-size: 100px;
        line-height: 120%;
        color: #2d3845;
        margin-top: 230px;
    }

    .ibi .application .application-info .application-paragraf {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 160%;
        width: 750px;
        margin-top: 40px;
        margin-bottom: 52px;
        color: #2d3845;
    }

    .ibi .application .application-social ul {
        display: flex;
        align-items: center;
    }

    .ibi .application .application-social ul li img {
        margin-right: 10px;
        background: #f4f8fa;
        border-radius: 12px;
        padding: 12px;
    }

    .ibi .application .application-social ul li .application-phone {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        margin-left: 40px;
    }

    .necessary {
        margin-top: 100px;
    }

    .necessary .necessary-info .necessary-text {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2d3845;
        margin-bottom: 30px;
    }

    .resurs .resurs-info .resurs-text {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2d3845;
        margin-bottom: 20px;
    }

    .necessary .necessary-info .necessary-buttons,
    .resurs .resurs-info .resurs-buttons {
        display: flex;
        width: 900px;
        flex-wrap: wrap;
    }

    .necessary .necessary-info .necessary-buttons .necessary-button,
    .resurs .resurs-info .resurs-buttons .resurs-button,
    .budget .budget-info .budget-buttons .budget-button,
    .data .data-info .data-buttons .data-button {
        margin-bottom: 20px;
        background: #ffffff;
        border: 2px solid #ebf2f5;
        box-sizing: border-box;
        border-radius: 12px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #2d3845;
        padding: 18px 30px;
        margin-right: 20px;
        cursor: pointer;
    }

    .necessary .necessary-info .necessary-buttons .necessary-button-active,
    .resurs .resurs-info .resurs-buttons .resurs-button-active {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        color: white;
    }

    .necessary .necessary-info .necessary-input input,
    .resurs .resurs-info .resurs-input input {
        background: #f4f8fa;
        border: 2px solid #f4f8fa;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        width: 1010px;
        height: 64px;
        padding-left: 30px;
        margin-top: 40px;
        color: #8b95a0;
        box-sizing: border-box;
        border-radius: 12px;
        margin-bottom: 100px;
    }

    .necessary .necessary-info .necessary-input input:focus,
    .resurs .resurs-info .resurs-input input:focus,
    .contacts .contact-info .contact-inputs input:focus {
        outline: none;
    }

    .budget .budget-info .budget-text {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        margin-bottom: 20px;
        color: #2d3845;
    }

    .contacts .contact-info .contact-text {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        color: #2d3845;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .contacts .contact-info .contact-inputs input {
        display: block;
        margin-bottom: 30px;
        width: 1010px;
        height: 64px;
        padding-left: 30px;
        background: #f4f8fa;
        border: 2px solid #f4f8fa;
        box-sizing: border-box;
        border-radius: 12px;
    }

    .contacts .contact-info .contact-inputs input:last-child {
        margin-bottom: 100px;
        padding-bottom: 70px;
        width: 1010px;
        height: 140px;
    }

    .data .data-info .data-text {
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        margin-bottom: 20px;
        color: #2d3845;
    }

    .data .data-info .data-paragraf {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        width: 1010px;
        margin-bottom: 100px;
        color: #8b95a0;
    }

    .send {
        display: flex;
        align-items: center;
        margin-bottom: 200px;
    }

    .send .send-buttons .send-button span img {
        margin-left: 20px;
        background: #f4f8fa;
        border-radius: 12px;
        padding-top: 16px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 16px;
    }

    .send .send-buttons .send-button {
        display: flex;
        align-items: center;
        background: transparent;
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        border: none;
    }

    .send p {
        font-size: 12px;
        line-height: 135%;
        color: #8b95a0;
        margin-left: 40px;
    }

    .map {
        height: 200px !important;
    }

    .ChangedMap {
        height: 600px !important;
    }

    .d-none {
        display: none;
    }

    .d-block {
        display: block !important;
    }

    .section-big-maps-logo {
        background: transparent;
        position: absolute;
        border-radius: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        width: 295px;
        height: 84px;
        border: none;
        cursor: pointer;
        top: 35%;
        left: 35%;
    }


    footer {
        background: #000;
        margin-top: 200px;
        color: #fff;
        height: 1223px;
    }

    .footer {
        width: 1530px !important;
        margin: auto;
    }

    .footerTitle {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 100px;
        line-height: 120%;
        /* identical to box height, or 120px */

        /* LIght/White */

        color: #ffffff;
        padding-top: 150px;
    }

    .FooterCenterBigDiv {
        display: flex;
        width: 1530px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footerCenterBottom2 {
        display: flex;
    }

    .footerTitle2 {
        background: linear-gradient(270deg, #1b558d 0%, #379bad 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .footerTitle2 button {
        background: #1b558d;
        border-radius: 12px;
        border: none;
        padding: 15px;
    }

    .footerTitle2 button img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footerCenter {
        display: flex;
        width: 1297px;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    .footerCenterTitle {
        display: flex;
        flex-direction: column;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        /* or 19px */

        /* LIght/White */

        color: #ffffff;
    }

    .footerCenterBigTitle {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 130%;
        /* identical to box height, or 65px */

        /* LIght/White */

        color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .footerCenterBigTitle a {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */

        /* Dark/Light Gray */

        color: #8b95a0;
    }

    .footerCenterSmallTitles {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */

        /* LIght/White */

        color: #ffffff;
    }

    .footerCenterTitle span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 30px */

        /* Dark/Light Gray */

        color: #8b95a0;
    }

    .footerCenterBigLinks {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .footerCenterBottom {
        width: 490px;
    }

    .footerCenterBottomMargin {
        margin-left: 30px;
    }

    .footerCenterBottomTitle {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */

        /* LIght/White */

        color: #ffffff;
        margin-top: 160px;
        margin-bottom: 30px;
    }

    .footerCenterLinks {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        /* identical to box height, or 19px */

        /* Dark/Light Gray */

        color: #8b95a0;
        margin-top: 20px;
    }

    .footerCenterBottomTitleCRM {
        margin-top: 80px;
    }

    .MainTitle {
        font-size: 50px;
        line-height: 130%;
        width: 220px;
        height: 65px;
        margin-right: 100px;
    }

    .MainText p {
        width: 620px;
        height: 259px;
        font-size: 23px;
        line-height: 160%;
    }

    .PLUS {
        display: none;
    }

    .SwiperNone {
        display: none !important;
    }

    .FooterCenterBigDivFooter1 {
        display: none;
    }

    .wrap {
        display: none;
    }

    @media (max-width:767px) {

        footer {
            padding: 60px 15px;
            width: 320px;
            height: 100vh;
            margin-top: 0;
        }

        .footer {
            width: 290px !important;
        }

        .footerTitle {
            font-size: 36px;
            line-height: 120%;
            width: 269px;
            margin-bottom: 30px;
            padding: 0;
        }

        .footerTitle2 {
            display: flex;
            font-size: 24px;
            line-height: 130%;
            align-items: center;
        }

        .footerTitle2 button {
            margin-left: 20px;
        }

        .footerCenter {
            width: 290px;
            height: 190px;
        }

        .footerCenterBottom {
            width: inherit;
            height: inherit;
        }

        .footerCenterBigTitle {
            font-size: 24px;
            line-height: 130%;
            width: 350px;
            height: 55px;
        }

        .footerCenterTitle {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .footerCenterTitle span {
            margin: 0;
        }

        .footerCenterBottom2 {
            display: none;
        }

        .FooterCenterBigDiv {
            display: none;
        }

        .FooterCenterBigDivFooter1 {
            display: block;
        }

        .footerCenterBottomTitleMedia320InternetMarketing {
            font-size: 16px;
            line-height: 150%;
            width: 157px;
            height: 24px;
            margin: 0;
            margin-top: 60px;
        }

        .footerCenterLinks {
            width: 250px;
            height: 38px;
            font-size: 14px;
            line-height: 135%;
            margin: 10px 0px;
        }

        .footerCenterBottomTitleRazrabotkaMedia320 {
            font-size: 16px;
            line-height: 150%;
            width: 157px;
            height: 24px;
        }

        .wrap {
            display: block !important;
        }

        .footerCenterBottomTitle {
            font-size: 16px;
            line-height: 150%;
            margin: 40px 0;
            margin-bottom: 20px;
        }

        /* .footerCenterBigLinks2{
        display: none !important;
      } */
    }